<section class="worksSection" id="worksLocation">

    <div class="titleWorksBox">
        <p class="viewmy-titleWorks">VIEW MY</p>
        <p class="works-titleWorks">WORKS</p>
    </div>

    <section class="galeryWorksSection"></section>
    <section class="galeryWorksSection-more"></section>

    <div class="showMoreWorks-box">
        <button class="btn-showMoreWorks" id="js-showMoreWorks">
            <i class="fas fa-plus-circle iconMoreAbout"></i>
        </button>
    </div>

</section>
