<section class="carouselSection js-show-content"></section>
<div class="thanks js-show-content"></div>

<nav>
    <div class="navBox">
        <section class="btnSection">
            <div class="btn1Box">
                <button id="btnWorksLocation">Works</button>
                <div class="flagNavBox">
                    <i class="fas fa-circle flagWorks"></i>
                </div>
            </div>
            <div class="btn2Box">
                <button id="btnAboutLocation">About</button>
                <div class="flagNavBox">
                    <i class="fas fa-circle flagAbout"></i>
                </div>
            </div>
            <div class="btn3Box">
                <button id="btnContactLocation">Contact</button>
                <div class="flagNavBox">
                    <i class="fas fa-circle flagContact"></i>
                </div>
            </div>
        </section>
    </div>
</nav>