.aboutSection {
    width: 100%;
    height: auto;
    background-color: #b3ff00;
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    position: relative;
    z-index: 44;
}
    .aboutTextBox {
        width: 85%;
        font-family: geometria-x;
        font-size: 1.6em;
        letter-spacing: -1px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: -.5em;
    }
    .moreAboutTextBox {
        font-family: geometria-m;
        text-transform: none;
    }
    #js-showMoreAbout {
        color: #111;
        font-size: 1.5em;
    }

    .backgroungSwitch {
        background: royalblue;
        color: white;
    }

@media only screen and (min-height: 800px) {
  .aboutTextBox {
    font-size: 2em;
  }
}