body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background: #111;
}
button {
    border: none;
    background: none;
    outline: none;
    font-family: geometria;
    color: white;
}
input {
    outline: none;
}