<header id="homeLocation">

    <section class="headerTitleSection">
    
        <section class="logoSection">
            <img class="logo-header" src="img/logoVerde.svg" alt="Gaspar Lara Logo">
        </section>
        
        <section class="nameSection">
            <h1>Gaspar</h1>
            <h1>Lara.</h1>
        </section>
        
        <section class="lineDetailSection">
            <hr>
        </section>
        
    </section>

    <article class="introSection" id="aboutLocation">
        <div class="introBox">
            <section class="infoSection">
                <p class="introTitle">- Who I am</p>
                <p class="introDescrip">Graphic Designer and Developer, based in Tandil, Argentina</p>
            </section>
            <section class="myStoryBtnSection">
                <button id="btnAboutLocation2">
                    My Story <i class="fas fa-arrow-right"></i>
                </button>
            </section>
        </div>
    </article>

    <div class="trazoHeader">
        <div class="black-poligon"></div>
    </div>

</header>